################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestProject1/bin/Debug/net5.0
/TestProject1/obj
